.CardArea {
  width: 90%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 2px solid #adadad;
  border-radius: 3px;

  header {
    align-self: center;
  }

  .CardInnerArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #adadad;
    padding: 5px 0 5px 0;
    ul {
      max-height: 115px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: scroll;
      text-align: center;
    }
  }
  .inputBox {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #adadad;
    padding: 2.5%;
    input {
      width: 80%;
      height: 25px;
      padding: 0 0 0 3%;
      border: none;
      &:focus {
        outline: none;
      }
      &.reduce {
        width: 70%;
      }
    }

    button {
      width: 15%;
      color: rgba(var(--d69, 0, 149, 246), 1);
      font-size: 12px;
      font-weight: 600;
      padding: 0;
      background-color: #fff;
      border: none;
      cursor: pointer;
      &:disabled {
        color: rgba(var(--d69, 0, 149, 246), 0.3);
        cursor: inherit;
      }
      &.reduce {
        width: 25%;
        font-size: 10px;
      }
    }
  }
}
